{% extends 'html/base.html' %}
{% block content %}
<body>
    <div class="mt-5">
        <h1>Perfil de {{ usuario.username }}</h1>
             Nombre: {{ usuario.first_name }}
             <br>
             Apellido: {{ usuario.last_name }}
             <br>
             Email: {{ usuario.email }}
             <br>
             Descripcion: {{ usuario.descripcion }}
             <br>
             Pagina web: {{ usuario.paginaweb }}
             <br>
             {% if usuario.imagen  %}
                Imagen: <img src="{{ usuario.imagen.url }}" alt=""> 
             {% endif %}
             <br>
             <br>
             <a href="{% url 'editarperfil' %}">Editar perfil</a>
             <br>
             <br>
             <a href="{% url 'cambiopassword' %}">Cambia tu contraseña</a>
    </div>
</body>
</html>

{% endblock %}