<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ usuario }}</title>
</head>
<body>

    {% for usu in usuario %}
        <h1>PERFIL DE {{ usuario.username }}</h1>
         Nombre: {{ usu.first_name }}
         <br>
         Apellido: {{ usu.last_name }}
         <br>
         Email: {{ usu.email }}
         <br>
         Descripcion: {{ usu.descripcion }}
         <br>
         Pagina web: {{ usu.paginaweb }}
         <br>
         {% if usu.imagen %}
            Imagen: <img src="{{ usu.imagen.url }}" alt="">
         {% endif %}
         <br>
         <br>
         <a href="{% url 'crearmensaje' usu.username %}">Chat con {{ usu.username }}</a>
    {% endfor %}
    <br>
    <br>
    <a href="{% url 'listadousuarios' %}">Volver al listado de usuarios</a>
</body>
</html>