<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h2>Mensajes recibidos:</h2>
<br>
{% if mensajes_recibidos %}
    {% for mensajes in mensajes_recibidos %}
        {% if mensajes.remitente == username %}
            {{ mensajes.fecha }}
            <br>
            Titulo
            <br>
            {{ mensajes.titulo }}
            <br>
            Texto
            <br>
            {{ mensajes.texto }}
            <br>
            -------------------------------------
            <br>
        {% else %}
            {{ pass }}
        {% endif %}
        {% endfor %}
{% else %}
    <h3>No hay mensajes recibidos</h3>
{% endif %}
<br>
<h2>Mensajes enviados:</h2>
<br>
{% if mensajes_enviados %}
    {% for mensajes in mensajes_enviados %}
        {% if mensajes.destinatario == username %}
            {{ mensajes.fecha }}
            <br>
            Titulo
            <br>
            {{ mensajes.titulo }}
            <br>
            Texto
            <br>
            {{ mensajes.texto }}
            <br>
            -------------------------------------
            <br>
        {% else %}
            {{ pass }}
            {% endif %}
            {% endfor %}
{% else %}
    <h3>No hay mensajes</h3>
{% endif %}




<h2>Nuevo mensaje para {{ username }}</h2>
<form action="{% url 'crearmensaje' username %}" method="POST"> {% csrf_token %}
<table>
    {{ formulario.as_table }}
</table>
<input type="submit" value="Enviar mensaje">
</form>
{{ mensaje }}
<body>
    
</body>
</html>