{% extends '../html/base.html' %}
{% load static %}
{% block content %}
    {% if usuarios %}
    <div class="d-flex flex-column align-items-center">
        <div class="alert alert-success mt-5" role="success">
            <h3>Bienvenido {{ usuariologueado }} al Chat de Usuarios</h3>
            <p>Seleccione la opción CHAT para enviar mensaje al usuario listado o Ver Perfil para ver la información de ese usuario.<p>
        </div>
        <ul class="mt-5">
            {% for user in usuarios %}
            {% if user != usuariologueado %}
                <b>Usuario:</b> {{ user.username }} | 
                <a class="btn btn-success" href="{% url 'crearmensaje' user.username %}">Chat</a> -
                <a class="btn btn-outline-success" href="{% url 'perfil' user.username %}">Ver perfil</a>
                <br>
                <hr>
            {% else %}
                {{ continue }}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif  %}
    {{ mensaje }}

  {% endblock %}  
    
</body>
</html>