{% extends 'html/base.html' %}
{% block content %}
        <h2>Nosotros</h2>
        <h3>Juan Pablo Fittipaldi</h3>
        <img src="/media/imagenes/juan3.jpeg" alt="">
        <p> Soy un contador publico de UBA que decidio ingresar al curso de Python de Coder 
        como primer acercamiento al mundo de programación para potenciar mis habilidades
        y empezar a implementarlos en la empresa familiar en la cual nos dedicamos a ser 
        proveedores de empresas y que se llama Grupo Tam. Espero que este, mi primer paso
        en el mundo de la programacion sea solo el comienzo de un gran viaje!</p>
        <h3>Jose Amador</h3>
        <img src="" alt="">
        <p></p>
        {% endblock %}
        <h3>Jose Amador</h3>
        <img src="" alt="">
        <p></p>

