{% extends 'html/base.html' %}
{% block content %}
        <div class="d-flex flex-column">
                <h2 class="text-center">Nosotros</h2>
                <h3 class="text-center">Juan Pablo Fittipaldi</h3>
                <img class="mt-2 mb-2 mx-auto" src="/media/imagenes/juan3.jpeg" alt="">
                <p class="mt-2"> Soy un contador publico de UBA que decidio ingresar al curso de Python de Coder 
                como primer acercamiento al mundo de programación para potenciar mis habilidades
                y empezar a implementarlos en la empresa familiar en la cual nos dedicamos a ser 
                proveedores de empresas y que se llama Grupo Tam. Espero que este, mi primer paso
                en el mundo de la programacion sea solo el comienzo de un gran viaje!</p>
                <br>
                <hr>
                <br>
                <h3 class="text-center">José Amador</h3>
                <img class="mt-2 mb-2 mx-auto"src="/media/imagenes/jose_amador.jpg" alt="">
                <p class="mt-2">Soy de profesión Comunicador Social y me dediqué mucho tiempo tanto a la publicidad convencional para luego migrar al Marketing Digital. Ahí comencé a ver el potencial de todo el área del Desarrollo Web. Mi objetivo es tratar de mezclar todos estos conocimientos hacia la creación de soluciones SaaS.</p>
        </div>
        {% endblock %}
        

